<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-6 d-flex">
                    <div class="logo">
                        <img class="logo__img" src="../img/logo.png" alt="">
                    </div>
                    <div class="header__lang">
                        <img src="../img/globus.png" alt="">
                        <a href="#">Українська</a>
                        <img src="../img/arrow.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="header__btn">
                        <button class="btn btn-primary">Розмістити оголошення</button>
                        <button class="btn btn-outline-primary">Знайти роботу</button>
                        <div class="login">
                            <a href="#"><img src="../img/lock.png" alt=""></a>
                            <a href="">Увійти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>