<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-6 d-flex align-items-center">
                    <div class="logo">
                        <img class="logo__img" src="../img/logo.png" alt="">
                    </div>
                    <div class="header__lang">
                        <img src="../img/globus.png" alt="">
                        <a href="#">Українська</a>
                        <img src="../img/arrow.png" alt="">
                    </div>
                    <div class="header__lang__table">
                        <a href="#">Укр</a>
                        <img src="../img/arrow.png" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="header__btn">
                        <div class="btn__pc">
                            <button class="btn btn-primary ">
                                Розмістити оголошення
                            </button>
    
                            <button class="btn btn-outline-primary ">
                                Знайти роботу
                            </button>
                        </div>
                        <div class="btn__table">
                            <button class="btn btn-primary">
                                <img  src="../img/Label.png" alt="">
                            </button>
                            
                            <button class="btn btn-outline-primary">
                                <img src="../img/table__scol.png" alt="">
                            </button>
                        </div>
                        <div class="login">
                            <a href="#"><img src="../img/lock.png" alt=""></a>
                            <a href="">Увійти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>