<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div class="col-11 hero__family">
                    <div class="hero__family__text">
                        <p class="family__title">Батьки вільні, діти доглянуті</p>
                        <p class="family__describe">сервіс для пошуку нянь поблизу</p>
                    </div>
                    <img src="../img/family.png" alt="">
                </div>
            </div>
            <div class="col hero__search d-flex justify-content-center align-items-center flex-wrap">
                <div class="search__form">
                    <a href="#">
                        <p>Шукаю няню</p>
                    </a>
                    <a href="#">
                        <img src="../img/arrowbig.png" alt="">
                    </a>
                </div>
                <div class="location__form">
                    <a href="#">
                        <img src="../img/location.png" alt="">
                        <p>Київ, Україна</p>
                    </a>
                    <a href="#"><img src="../img/arrowbig.png" alt=""></a>
                </div>
                <div class="btn__form__search">
                    <button class="btn btn-primary">Шукати</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="banner">
                <div class="banner__info">
                    <p class="banner__title">Для батьків</p>
                    <p class="banner__describe">Як знайти няню<br>
                        своєї мрії </p>
                </div>
                <div class="banner__tabs">
                    <div class="tabs">
                        <a class="tabs__link" href="#">
                            <div class="nav__tabs">
                                <p class="banner__nav__title">Розмістіть ваше 
                                    оголошення</p>
                                <p class="banner__nav__arrow">&gt</p>
                            </div>
                            <p class="banner__nav__describe">
                                Розкажіть саме про ваші потреби та завдання
                            </p>
                        </a>
                    </div>
                    <div class="tabs">
                        <a class="tabs__link" href="#">
                            <div class="nav__tabs">
                                <p class="banner__nav__title">
                                    Перегляньте анкети нянь поблизу
                                </p>
                                <p class="banner__nav__arrow">&gt</p>
                            </div>
                            <p class="banner__nav__describe">
                                та проведіть співбесіду з тими хто відповідає вашим вимогам 
                            </p>
                        </a>
                    </div>
                    <div class="tabs">
                        <a class="tabs__link" href="#">
                            <div class="nav__tabs">
                                <p class="banner__nav__title">
                                    Найміть свою ідеальну няню
                                </p>
                                <p class="banner__nav__arrow">&gt</p>
                            </div>
                            <p class="banner__nav__describe">
                                Обговоріть деталі, сформуйте договір прямо на  сайті
                            </p>
                        </a>
                    </div>
                </div>
            </div>                   
        </div>
    </div>
</div>

<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog__header">
                    <div class="col">
                        <p class="blog__title">Свіже в блозі</p>
                        <ul class="blog__header__nav">
                            <li><a class="blog__header__link" href="#">Все</a></li>
                            <li><a class="blog__header__link" href="#">Авторські статті</a></li>
                            <li><a class="blog__header__link" href="#">Дослідження</a></li>
                        </ul>
                    </div>
                    <div class="blog__header__arrow d-flex justify-content-end">
                        <img class="blog__arrow" src="../img/blogLarrow.png" alt="">
                        <img class="blog__arrow" src="../img/blogRarrow.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-12 d-flex flex-wrap mt-5 ">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="blog__post">
                    <img src="../img/blogimg1.png" alt="">
                    <div class="blog__post__info">
                        <h3 class="blog__post__title">
                            Як вибрати няню для дитини?
                        </h3>
                        <p class="blog__post__data">
                            8 червня
                        </p>
                        <div class="blog__post__search">
                            <a href="">поради</a>
                            <a href="">корисне</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="blog__post">
                    <img src="../img/blogimg2.png" alt="">
                    <div class="blog__post__info">
                        <h3 class="blog__post__title">
                            Як вибрати няню для дитини?
                        </h3>
                        <p class="blog__post__data">
                            8 червня
                        </p>
                        <div class="blog__post__search">
                            <a href="">поради</a>
                            <a href="">корисне</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="blog__post">
                    <img src="../img/blogimg3.png" alt="">
                    <div class="blog__post__info">
                        <h3 class="blog__post__title">
                            Як вибрати няню для дитини?
                        </h3>
                        <p class="blog__post__data">
                            8 червня
                        </p>
                        <div class="blog__post__search">
                            <a href="">поради</a>
                            <a href="">корисне</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="blog__btn">
                <p>Читати більше</p>
                <div><img src="../img/arrowblue.png" alt="#"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="formom">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">

                <div class="foormom__tablet">
                        <p class="formom__tablet__describe">Для нянь</p>
                        <h3 class="formom__tablet__title">
                            Як знайти роботу
                            професійною нянею
                        </h3>
                    <div class="formom__cards__box">
                        <div class="formom__cards__box-1">
                            <p class="formom__cards__box__title">
                                Створіть профіль няні
                            </p>
                            <img src="../img/formomcardarrow.png" alt="">
                        </div>
                        <p class="formom__cards__box__describe">
                            Заповніть анкету няні, додайте фото, опішить своі сильні сторони
                        </p>
                    </div>
                    <div class="formom__cards__box">
                        <div class="formom__cards__box-1">
                            <p class="formom__cards__box__title">
                                Реагуйте на оголошення про роботу
                            </p>
                            <img src="../img/formomcardarrow.png" alt="">
                        </div>
                        <p class="formom__cards__box__describe">
                            Знаходьте оголошення поруч з вами та обговорюйте умови з роботодавцем

                        </p>
                    </div>
                    <div class="formom__cards__box">
                        <div class="formom__cards__box-1">
                            <p class="formom__cards__box__title">
                                Знайдіть вашого вихованця
                            </p>
                            <img src="../img/formomcardarrow.png" alt="">
                        </div>
                        <p class="formom__cards__box__describe">
                            Обговоріть деталі співпраці, сформуйте договір за допомогою сайту

                        </p>
                    </div>
                </div>
                <div class="col-4 pc__formom">
                    <div class="formom__block1">
                        <p class="formom__block1__describe">Для нянь</p>
                        <h3 class="formom__block1__title">
                            Як знайти роботу
                            професійною нянею
                        </h3>
                    </div>
                </div>
                <div class="col-8 pc__formom">
                    <div class="formom__block2">
                        <div class="col-10 formom__cards">
                            <div class="formom__cards__box">
                                <div class="formom__cards__box-1">
                                    <p class="formom__cards__box__title">
                                        Створіть профіль няні
                                    </p>
                                    <img src="../img/formomcardarrow.png" alt="">
                                </div>
                                <p class="formom__cards__box__describe">
                                    Заповніть анкету няні, додайте фото, опішить своі сильні сторони
                                </p>
                            </div>
                            <div class="formom__cards__box">
                                <div class="formom__cards__box-1">
                                    <p class="formom__cards__box__title">
                                        Реагуйте на оголошення про роботу
                                    </p>
                                    <img src="../img/formomcardarrow.png" alt="">
                                </div>
                                <p class="formom__cards__box__describe">
                                    Знаходьте оголошення поруч з вами та обговорюйте умови з роботодавцем

                                </p>
                            </div>
                            <div class="formom__cards__box">
                                <div class="formom__cards__box-1">
                                    <p class="formom__cards__box__title">
                                        Знайдіть вашого вихованця
                                    </p>
                                    <img src="../img/formomcardarrow.png" alt="">
                                </div>
                                <p class="formom__cards__box__describe">
                                    Обговоріть деталі співпраці, сформуйте договір за допомогою сайту
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="comunity">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="comunity__questions">
                <div class="row">
                    <h1>Спільнота</h1>
                    <p>Обмін досвідом, спілкування, рекомендації</p>
                    <div class="comunity__line"></div>
                    <h3>Популярне на форумі</h3>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>З якого віку дитина готова для того аби її залишати наодинці з нянею?</p>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>З якого віку дитина готова для того аби її залишати наодинці з нянею?</p>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>

            </div>
            <div class="comunity__coments">
                <div class="row">
                    <div class="comunity__line"></div>
                    <h3>Обговорюють зараз</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>

                </div>
                <div class="row">
                    <div class="d-flex">
                        <img src="../img/image 3.png" alt="#">
                        <h6>Юлія К.</h6>
                        <p>в топіку</p>
                        <p><u> “Поради, як не промахнутись з вибором няні”</u></p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex">
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex">
                        <img src="../img/image 4.png" alt="#">
                        <h6>Юлія К.</h6>
                        <p>в топіку</p>
                        <p><u> “Поради, як не промахнутись з вибором няні”</u></p>
                    </div>
                </div>
                <div class="row">                  
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>

                </div>
                <div class="row">
                    <div class="d-flex">
                        <img src="../img/image 3.png" alt="#">
                        <h6>Юлія К.</h6>
                        <p>в топіку</p>
                        <p><u> “Поради, як не промахнутись з вибором няні”</u></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__button-about">
            <div class="row d-flex justify-content-center aline-items-center">
                <button class=" d-flex justify-content-center aline-items-center">
                    <div>Перейти до форуму</div>
                    <div><img src="../img/arrowblue.png" alt="#"></div>
                </button>
            </div>
        </div>

    </div>
</section>