<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col hero__family">
                    <div class="hero__family__text">
                        <p class="family__title">Батьки вільні, діти доглянуті</p>
                        <p class="family__describe">сервіс для пошуку нянь поблизу</p>
                    </div>
                    <img src="../img/family.png" alt="">
                </div>
            </div>
            <div class="col hero__search d-flex justify-content-between align-items-center">
                <div class="search__form">
                    <a href="#">
                        <p>Шукаю няню</p>
                    </a>
                    <a href="#">
                        <img src="../img/arrowbig.png" alt="">
                    </a>
                </div>
                <div class="location__form">
                    <a href="#">
                        <img src="../img/location.png" alt="">
                        <p>Київ, Україна</p>
                    </a>
                    <a href="#"><img src="../img/arrowbig.png" alt=""></a>
                </div>
                <div class="btn__form__search">
                    <button class="btn btn-primary">Шукати</button>
                </div>
            </div>
        </div>
    </div>
</div>

