<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="hero__family">
                    <div class="hero__family__text">
                        <p class="family__title">Батьки вільні, діти доглянуті</p>
                        <p class="family__describe">сервіс для пошуку нянь поблизу</p>
                    </div>
                    <img src="../img/family.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>