.hero {
    background: linear-gradient(102.5deg, #FFF6DA 0%, #FFDEF2 100%);
}

.hero__family {
    .family__title {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
    }
    family
}